
.form-container{
    height:99vh;
    overflow-x:hidden;
    overflow-y:scroll;

}

.form{
    display:flex;
    flex-direction:column;
    width:300px;
    gap:5px;
    margin-bottom: 25px;
   
}

.form > button{
    width:75px;
}

/* ---------- EDU FORM CSS ------------ */

.form-title-with-btn{
    display:flex;
    flex: row;
    align-items: center;
    gap:10px;
}
.add-btn{
    height:20px;
}