.resume{
    border:1px solid black;
    height: 99vh;
    width:619px;
}

/* ---------- ABOUT PORTION OF RESUME ------------ */
.full-name{
    display:flex;
    gap:8px;
    font-size:30px;
    margin: 10px 0 0 10px;
    
}
.bar-deco{
    border:1px solid black;
    margin:1px 10px 1px 10px;
}
.contact-info{
    display:flex;
    font-size:14px;
    gap:8px;
    margin:2px 0 0 10px
}

/* ----------- EDUCATION PORTION OF RESUME ---------- */

.edu-resume-title{
    margin: 25px 0px 0px 10px;
    font-size:17px;
    font-weight: bold;
}
.edu-line1, .edu-line2{
    display:flex;
    justify-content: space-between;
    margin:0px 10px 0px 10px;
    font-size:15px;
}

.edu-line2{
    margin-bottom: 10px;
}
.edu-institution{
    font-weight:700
}

.edu-degree{
    display:flex;
    gap:4px;
    font-style:italic;
}

.edu-dates{
    display:flex;
    gap:3px;
}



